/*Coding by Aditya Dalal.*/
*{
	margin:0px;
}
ul.dropdown_menu{
	position: relative;
	float:right;
}
button{
	background-color:#ADDFFF;
	height: 50px; 
	padding:10px;
	position:relative;
	float:right;
	width:100px;
	text-align:center;
	font-size: 1.2em;
	color:#04619f;
	font-weight:bold;
}
#buttons{
	margin-top:210px;
}
button:hover{
	color:#ADDFFF;
	background-color:#04619f;
}
#donate2,#donate2:visited{
	background-color:#FF0000;
	color:#FFFFFF;
	position:relative;
	right:45%;
	margin-top:20px;
	vertical-align: center;
	margin-bottom:20px;
}

a:visited,a:hover,a:focus{
	text-decoration:none;
}

a>div{
	text-align: center;
}

#donate2:hover{
	background-color:#FFFFFF;
	color:#FF0000;
}

body{
	background-color:#AFEEEE;

	font-family: 'Barlow Condensed', sans-serif;
	animation:change 10s infinite;
	overflow-x: hidden;
}

@keyframes change{
	from{background-color:#AFEEEE;
		
}
	to{background-color: #87CEFA;
		
}
}




marquee{
	font-size:1.5em;
	font-weight: bold;
	color:#00008b;
	font-style: italic;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to { 
    transform: translateX(-100%);
  }
}
#footer{
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
	color:	#D4AF37;
	margin-top:10px;
	width:100%;
	text-align: center;
}
#navigationbar{
	background-color: #ffffff;
	background-image: linear-gradient(315deg, #ffffff 0%, #5899e2 74%);
	height: 310px;
	border-radius: 0;
	text-align: center;
}
.navbar-brand{
	text-decoration: none;
	text-align:left;
	font-size: 2em;
	font-weight: bold;
	line-height:1.2;
	margin-top:-10px;
}
#name{
	color: #D4AF37;
	font-size: 3em;
	font-weight: bold;	
}
div>span{
	color:#800000 ;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
}
.col-xs-12,.col-md-6,.col-lg-4,.col-lg-6{
	border:1px solid #000000; 
	margin: auto;
	height:auto;
	padding:0px;
}
li{
	margin:10px;
}
#info1,#info2,#info3{
	
	font-weight:bold;
	margin-top:20px;
}
#info1,#info2{
	text-align:left;
}
#info3{
	text-align: center;
}
#info2,.no2,.no3{
	background-color:#7cffcb;
background-image:linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);


	color:#045de9;
	position:relative;
}
#info1,#info3,.no1,.no4{
	background-color: #045de9;
	background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
	color: #000000;
}
#info1:hover,#info2:hover,#info3:hover{
	opacity:1;
}



 #content{
 	clear:both;
 	position: relative;
 }
 #return>a:hover,a:focus,a:visited{
	text-decoration: none;
}


.container{
	width:100%;
}
#logo{
	margin-left:10px;
	margin-right:10px;
	position:relative;
	margin-top:10px;
	width:200px;
	height:200px;
}
img{
	border-radius:0;
	overflow:hidden;
}

h2{
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}
h3{
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}
#quote1:hover,#quote1:focus,#quote1:visited,#quote2:hover,#quote2:focus,#quote2:visited,#quote1,#quote2{
	color:#800000;
}
#donation:focus,#donation:visited,#donation,#email:focus,#email:visited,#email{
	color:	#D4AF37;
	font-weight:bold;
}
#donation:hover,#email:hover{
	color: #000000;
	background-color:#D4AF37;
}

#f1,#f2{
	border:0px;
	height:150px;
	font-size:1em;
}
#visitors{
	margin-top:100px;
}
hr{
	border-color:#FFFF99;
	margin-right:100px;
	margin-left:100px;
	margin-top:0px;
}
.row>#teamember{
	position:relative;
	height:250px;
	margin-bottom:20px;
}
#teammemberinfo{
	margin-top:50px;
	position:relative;
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
}
#wrap>img,#logo{
	border-radius:0%;
}
#teammember>img{
	width:250px;
	height:250px;
	overflow:auto;
	position:relative;
	float:left;
	margin-left:0px;
	margin-top:0px;
	margin-right:20px;
	border-radius:0%;
}
#info3>img{
	width:250px;
	height:250px;
	clear:both;
	align-self:center;
}
#info3>#img1{
	margin-top:20px;
}
#ourteamheader{
	font-size:5em;
	font-weight:bold;
}
#teammember{
	margin-bottom:20px;
}
#wrap{
	margin-left:20px;
}
/*FOR SUPER SMALL DEVICES*/
@media(max-width:360px){

	#content{
		margin-top: 120px;
		margin-right: 30px;
		margin-left: 30px;
	}
	#info2,#info3{
		margin-top:-10px;
	}
	#info1,#info2,#info3{
		width:90%;
	}
	.navbarbrand{
		font-size: 1em;
	}
	#name{
		font-size:1.5em;
	}
	#buttons{
		margin-top:150px;
	}
	.navigationbar{
		height:180px;
	}
	#info1,#info2,#info3{
		font-size:1.5em;
		height:1200px;
		margin-bottom:20px;
	}
	#info1{
		height:950px;
	}


	#info3>#img1info{
		margin-bottom:50px;
	}
	#teammember>img{
		width:300px;
		height:300px;
		align-self:center;
	}
	#teammember{
		width:300px;
		align-self:center;
	}
	#teammemberinfo{
		clear:both;
	}
	.no1,.no4{
		background-color: #045de9;
		background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
		color: #000000;
	}
	.no2,.no3{
		background-color:#7cffcb;
		background-image:linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
		color:#045de9;
	}
	#img2{
		transform:rotate(180deg);
	}

}
/* FOR SMALL/ VERY SMALL DEVICES */
@media(max-width: 768px)and(min-width:361px){
	#content{
		margin-top: 120px;
		margin-right: 30px;
		margin-left: 30px;
	}
	#info2,#info3{
		margin-top:-10px;
	}
	#info1,#info2,#info3{
		width:90%;
	}
	.navbarbrand{
		font-size: 1.5em;
	}
	#name{
		font-size:2em;
	}
	#buttons{
		margin-top:150px;
	}
	.navigationbar{
		height:180px;
	}
	#info1,#info2,#info3{
		font-size:1.5em;
		height:800px;
		margin-bottom:20px;
	}
	#info3{
		height:1100px;
	}

	#info3>#img1info{
		margin-bottom:50px;
	}
	.no1,.no4{
		background-color: #045de9;
		background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
		color: #000000;
	}
	.no2,.no3{
		background-color:#7cffcb;
background-image:linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);

		color:#045de9;
	}
}



/*FOR MEDIUM- SIZE DEVICES*/

@media(max-width:1199px) and (min-width: 769px){
	
	.col-md-6{
		width:47%;
		margin:10px;
	}
	
	#teammember>img{
		width:200px;
		height:200px;
	}	
	.row>#teamember{
		height:200px;
	}
	#teammemberinfo{
		margin-top:20px;
		font-size:1em;
	}
	#info1,#info2{
		font-size:1.5em;
		height:975px;
	}
	#info3{
		font-size:1.5em;
		height:875px;
	}
	#info3>#img2{
		margin-top:25px;
	}
}

/*FOR LARGE DEVICES*/

@media(min-width:1200px){
	
	.col-lg-6{
		width:47%;
		margin:10px;
	}
	#info1,#info2,#info3{
		font-size:1.5em;
		height:1000px;
	}
	#info3>#img2{
		margin-top:10px;
	}
}




